<!-- Side Nav -->
<div class="side-nav" id="sideNav">
  <div style="margin-left: 30px">
    <div style="margin-top: 40px; margin-bottom: 50px">
      <img src="images/logo.svg" alt="Company Logo" width="150" onclick="location.href='/'" />
    </div>
    <!-- Menu Items -->
    <div class="menu-item">
      <a href="/admin-dashboard"><i class="fas fa-tachometer-alt profile-icon"></i>
        <span class="menu-text">Dashboard</span></a>
    </div>
    <div class="menu-item">
      <a href="/admin-hostel-management"><i class="far fa-building profile-icon"></i>
        <span class="menu-text">Hostel Management</span></a>
    </div>
    <div class="menu-item">
      <a href="/admin-user-management"><i class="fas fa-user profile-icon"></i>
        <span class="menu-text">User Management</span></a>
    </div>
    <div class="menu-item">
      <a href="#"><i class="fas fa-wrench profile-icon"></i>
        <span class="menu-text">Maintenance</span></a>
    </div>
    <div class="menu-item">
      <a href="/auth/logout"><i class="fas fa-sign-out-alt profile-icon"></i>
        <span class="menu-text">Log Out</span></a>
    </div>
  </div>
</div>