<!-- Side Nav -->
<div class="side-nav" id="sideNav">
  <div style="margin-left: 30px">
    <div style="margin-top: 40px; margin-bottom: 50px">
      <img src="images/logo.svg" alt="Company Logo" width="150" onclick="location.href='/'" />
    </div>
    <!-- Menu Items -->
    <div class="menu-item">
      <a href="/student-dashboard"><i class="fas fa-tachometer-alt profile-icon"></i>
        <span class="menu-text">Dashboard</span></a>
    </div>
    <div class="menu-item">
      <a href="/book-room"><i class="fas fa-bed profile-icon"></i>
        <span class="menu-text">Book Room</span></a>
    </div>
    <div class="menu-item">
      <a href="/myroom"><i class="fas fa-door-closed profile-icon"></i>
        <span class="menu-text">My Room</span></a>
    </div>
    <div class="menu-item">
      <a href="/myprofile"><i class="fas fa-user profile-icon"></i>
        <span class="menu-text">Profile</span></a>
    </div>
    <div class="menu-item">
      <a href="/auth/logout"><i class="fas fa-sign-out-alt profile-icon"></i>
        <span class="menu-text">Log Out</span></a>
    </div>
  </div>
</div>