<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Booking Successful</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="success-message">
        <h1>Thank You!</h1>
        <p>Your booking was successful. We look forward to your stay.</p>
        <a href="/student-dashboard">Go back to home</a>
    </div>
</body>

</html>